.navbar .navbar-brand {
    color: cornsilk;
}

.nav-item {
    color: cornsilk;
}

.carousel-item{
    height: 670px;
}

.carousel-caption {
    margin-top: -200px;
}

.section1{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

.section1 p{
    margin-left: 20px;
}
